---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: dev
  namespace: default
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: dev
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-admin
subjects:
  - kind: ServiceAccount
    name: dev
    namespace: default
# base64 -d <<<$(kubectl -n default get secrets $(kubectl -n default get sa dev -o jsonpath="{.secrets[0].name}") -o jsonpath="{.data.token}")
