services:
  kafka-ui:
    container_name: kafka-ui
    image: provectuslabs/kafka-ui:latest
    restart: always
    network_mode: host
    # ports:
    #   - 8080:8080
    environment:
      DYNAMIC_CONFIG_ENABLED: "true"
    logging:
      driver: "json-file"
      options:
        max-size: "10M"
    deploy:
      resources:
        limits:
          cpus: "1"
          memory: 1G

  redis-ui:
    image: redis/redisinsight:latest
    container_name: redis-ui
    restart: always
    ports:
      - 6379:5540
    volumes:
      - ./redisinsight:/data
    logging:
      driver: "json-file"
      options:
        max-size: "10M"
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 512M

  mysql-ui:
    image: dbeaver/cloudbeaver
    container_name: mysql-ui
    restart: always
    network_mode:
      host
      #    ports:
      #      - 8080:8978
    volumes:
      - ./cloudbeaver:/opt/cloudbeaver/workspace
    logging:
      driver: "json-file"
      options:
        max-size: "10M"
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 512M

  etcd-workbench:
    image: tzfun/etcd-workbench
    container_name: etcd-workbench
    restart: always
    networks:
      - local_net
    ports:
      - "8002:8002"
    logging:
      driver: "json-file"
      options:
        max-size: "10M"
        max-file: 1
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 512M
    volumes:
      - ./database/etcd-workbench/data:/usr/tzfun/etcd-workbench/data/system/config
