name: "kafka3"
services:
  kafka3:
    image: bitnami/kafka:3.7.0
    container_name: kafka3
    restart: always
    network_mode: host
    logging:
      driver: "json-file"
      options:
        max-size: "10M"
        max-file: 1
    deploy:
      resources:
        limits:
          cpus: "3"
          memory: 15G
    environment:
      - KAFKA_CFG_AUTO_CREATE_TOPICS_ENABLE=true
      - KAFKA_CFG_NODE_ID=3
      - KAFKA_CFG_BROKER_ID=3
      - KAFKA_CFG_PROCESS_ROLES=controller,broker
      - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=1@192.168.68.84:9093,2@192.168.90.30:9093,3@192.168.195.50:9093
      - KAFKA_CFG_INTER_BROKER_LISTENER_NAME=BROKER
      - KAFKA_CFG_LISTENERS=BROKER://:9092,CONTROLLER://:9093,EXTERNAL://:9094
      - KAFKA_CFG_ADVERTISED_LISTENERS=BROKER://192.168.195.50:9092,EXTERNAL://18.178.160.183:9094
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,EXTERNAL:PLAINTEXT,BROKER:PLAINTEXT
      - KAFKA_CLUSTER_ID=rROQbDAIT1OgGximRtJsXQ
      - KAFKA_KRAFT_CLUSTER_ID=rROQbDAIT1OgGximRtJsXQ
      - KAFKA_HEAP_OPTS=-Xms2g -Xmx12g
    volumes:
      - data:/bitnami/kafka
      - config:/opt/bitnami/kafka/config

volumes:
  data:
  config: